.button-wrapper {
    display: block;
}

h2 {
    margin-top: 0px;
    height: 30px;
}

button {
    border: none;
    padding: 0px;
    width: 100%;
    display: inline-block;
    text-align: left;
    background: none;
    cursor: pointer
}

.hero-id {
    background-color: rgb(27, 21, 41);
    color: white;
    height: 25px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    width: 0px;
    padding: 0px 20px 0px 15px;
}

.hero-name {
    background-color: rgb(61, 49, 116);
    height: 25px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    width: calc(100% - 80px);
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hero-name:not(.selected):hover {
    background-color: rgb(68, 51, 142);
    color: white;
}

.hero-selector {
    width: 210px;
    max-width: 210px;
}

.hero-delete {
    background-color: rgb(143, 0, 64);
    color: white;
    height: 25px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    width: 22px;
    padding-left: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hero-delete:hover {
    background-color: rgb(190, 3, 87);
}


.selected {
    background-color: rgb(96, 75, 218);
    color: white;
}

.hero-details {
    width: calc(100% - 220px);
}

  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }